.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#display-box {
  height: 400px;
  width: 800px;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: aquamarine;
}

#name {
  float: left;
  margin-left: 5%;
  text-decoration: underline;
  font-size: x-large;
}

#number-on {
  float: right;
  font-size: larger;
}

#from {
  margin-top: 10%;
  margin-right: 70%;
}

#job-title {
  margin-right: 72%;
}

#employer {
  margin-right: 79%;
}

#favorite-movies {
  margin-left: 5%;
  margin-top: 5%;
  float: left;
}

#bottom-buttons {
  width: 800px;
  margin-left: 10%;
  margin-right: 10%;
  background-color: aquamarine;
}

#previous-btn {
  float: left;
}

#next-btn {
  float: right;
}

.new-card {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
}